<header>

    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('../../../assets/databig.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container mt-0">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->

            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-10 col-xl-10 pb-5 mx-auto">
                <h1 class="display-4 font-weight-bold text-white text-center">Create Profile</h1>
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body class="z-depth-2">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="dark-grey-text">
                      <strong>My Profile</strong>
                    </h3>
                    <hr>
                  </div>
                  <!--Body-->
                  <form [formGroup]='form' (submit)='saveProfile()' >

                    <div class='row'>

                      <div class='col-6'>

                  <div class="md-form">

                    <input type="text" id="form1" class="form-control" mdbInputDirective formControlName='fname'>
                    <label for="form1"> First Name</label>
                  </div>

                </div>

                <div class='col-6'>

                  <div class="md-form">

                    <input type="text" id="form2" class="form-control" mdbInputDirective formControlName='lname'>
                    <label for="form2"> Last Name</label>
                  </div>
                </div>

                </div>

                  <div >

                    <button class='btn btn-primary' type='button' (click)='filePicker.click()'>Select Profile Pic</button>
                    <input type='file' #filePicker (change)='onImagePicked($event)'>
                  </div>

                  <div class="image-preview  mb-3  pt-3 pb-3" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                    <img [src]="imagePreview" [alt]="form.value.email">
                </div>

                <div class='row'>

                  <div class='col-6'>

                  <div class="md-form">

                    <input type="text" id="form3" class="form-control" mdbInputDirective formControlName='phone'>
                    <label for="form3"> Phone</label>
                  </div>
                </div>

                <div class='col-6'>

                  <div class="md-form">

                    <input type="text" id="form4" class="form-control" mdbInputDirective formControlName='email'>
                    <label for="form4"> Email</label>
                  </div>

                </div>

                </div>

                <div class='row'>

                    <div class='col-6'>

                  <div class="md-form">

                    <input type="text" id="form5" class="form-control" mdbInputDirective formControlName='webSite'>
                    <label for="form5">Web Site</label>
                  </div>

                </div>

                <div class='col-6'>

                  <div class="md-form">

                      <input type="text" id="form6" class="form-control" mdbInputDirective formControlName='company'>
                      <label for="form6">Company </label>
                    </div>
                  </div>

                  </div>

                  <div class='row'>

                      <div class='col-6'>

                    <div class="md-form">

                      <input type="text" id="form5" class="form-control" mdbInputDirective formControlName='position'>
                      <label for="form5">Position</label>
                    </div>

                  </div>

                  <div class='col-6'>

                    <div class="md-form">

                        <input type="text" id="form6" class="form-control" mdbInputDirective formControlName='headline'>
                        <label for="form6">Headline </label>
                      </div>
                    </div>

                    </div>

                    <div class="md-form">
                        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInputDirective formControlName='highlight'></textarea>
                        <label for="form7">Career Highlights</label>
                      </div>

                      <div class="md-form">
                          <textarea type="text" id="form8" class="md-textarea md-textarea-auto form-control" mdbInputDirective formControlName='philosophy'></textarea>
                          <label for="form8">Recruiting Philosophy</label>
                        </div>

                        <div class="md-form">
                            <textarea type="text" id="form9" class="md-textarea md-textarea-auto form-control" mdbInputDirective formControlName='usp'></textarea>
                            <label for="form9">Unique Selling Proposition</label>
                          </div>

                          <div class="md-form">
                              <textarea type="text" id="form9" class="md-textarea md-textarea-auto form-control" mdbInputDirective formControlName='specialty'></textarea>
                              <label for="form9">Specialty</label>
                            </div>

                  <div class="text-center mt-3">
                    <button class='btn btn-elegant' mdbWavesEffect>Submit</button>
                    <hr>

                  </div>
                </form>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->




