<!--Section: Features v.1-->
<section class="text-center">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Why join?</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fa fa-area-chart fa-3x red-text"></i>
        <h5 class="font-weight-bold mt-3">Exposure</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fa fa-code fa-3x cyan-text"></i>
        <h5 class="font-weight-bold mt-3">Job Opportunities</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fa fa-calendar fa-3x orange-text"></i>
        <h5 class="font-weight-bold mt-3">Events</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.1-->
