

<div class='container'>

  <div class='row'>

    <div class='col-6'>

        <app-manage-education></app-manage-education>

  </div>

  <div class='col-6'>
      <app-manage-experience></app-manage-experience>

  </div>



  </div>

  <div class='row'>

    <div class='col-6'>

    <app-manage-projects></app-manage-projects>

  </div>

  <div class='col-6'>

    <app-manage-problems></app-manage-problems>

  </div>

  </div>

  <div class='row'>

    <div class='col-6'>

    <app-manage-skills></app-manage-skills>

  </div>

  <div class='col-6'>

    <app-manage-content></app-manage-content>

  </div>

  </div>

</div>
