<ul class='list-group' *ngFor='let job of jobs let i = index ' >



    <div class='mt-1 mb-1' *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" >
      <li class='list-group-item'>{{job.employer}}</li>
      <li class='list-group-item'>{{job.jobTitle}}</li>
      <li class='list-group-item'>{{job.contract}}</li>
      <li class='list-group-item'>{{job.compensation}}</li>
      <li class='list-group-item'>{{job.description}}</li>
    </div>

  </ul>

      <!--Bottom Table UI-->
   <div class="d-flex justify-content-center ">

      <!--Pagination -->
      <nav class="my-4">
        <ul class="pagination pagination-circle pg-elegant-color mb-0">

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
            <a class="page-link font-weight-bold">First</a>
          </li>

          <!--Arrow left-->
          <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only font-weight-bold ">Previous</span>
            </a>
          </li>

          <!--Numbers-->
          <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
              <a class="page-link waves-lightfont-weight-bold " (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
          </li>



          <!--Arrow right-->
          <li class="page-item" (click)='nextPage($event)' [ngClass]="{disabled: activePage == numberOfPaginators}">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only font-weight-bold">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
            <a class="page-link font-weight-bold">Last</a>
          </li>

        </ul>
      </nav>
      <!--/Pagination -->

    </div>
    <!--Bottom Table UI-->


