


<div class='container'>
    <h1 class='text-center mt-3 mb-3 elegant-color text-white p-3'>My Content</h1>
    <ul class='list-group' *ngFor='let content of contents; let i = index'>
        <li class='list-group-item  mb-3 ' *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex">
          <div class='card'>
            <!--<div class='card-header elegant-color text-white p-3'></div>  -->
            <div class='card-body'>
              <div class='row'>
                <div class='col-6'>
                <div>
                  <h2 class='font-weight-bold  text-center p-1 mb-2' > Title</h2>
                  <p>{{content.title}}</p>
                </div>
              </div>
              <div class='col-6'>
                <div>
                  <h2 class='font-weight-bold  text-center p-1 mb-2'>Topic</h2>
                  <p>{{content.topic}}</p>
                </div>
              </div>
                <!-- end of row-->
              </div>

              <div class='row'>
                  <div class='col-6'>
                  <div>
                    <h2 class='font-weight-bold  text-center p-1 mb-2'>Type</h2>
                    <p>{{content.type}}</p>
                  </div>
                </div>
                <div class='col-6'>
                  <div>
                    <h2 class='font-weight-bold  text-center p-1 mb-2'>Link</h2>
                    <p>{{content.link}}</p>
                  </div>
                </div>
                  <!-- end of row-->
                </div>






                <div >
                    <h2 class='font-weight-bold  text-center p-1 mb-2'>Description</h2><br>
                    <p>{{content.description}}</p>
                  </div>


                <div class='mt-2 mx-auto' *ngIf='isAuth'>
                <div class='row'>
                  <div class='col-6'>
                      <a class='btn btn-success mx-auto btn-block' [routerLink]="['/editContent', content._id]" >Edit</a>
                </div>
                <div class='col-6'>
                  <button class='btn btn-danger mx-auto btn-block' (click)='onDelete(content._id)'>Delete</button>
                </div>
              </div>
              </div>

          </div>
          <div class='card-footer elegant-color text-white text-center'>Content</div>
          </div>
        </li>
    </ul>

    <!--Bottom Table UI-->
    <div class="d-flex justify-content-center ">

      <!--Pagination -->
      <nav class="my-4 ">
        <ul class="pagination pagination-circle pg-elegant-color mb-0">

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
            <a class="page-link font-weight-bold">First</a>
          </li>

          <!--Arrow left-->
          <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only font-weight-bold ">Previous</span>
            </a>
          </li>

          <!--Numbers-->
          <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
              <a class="page-link waves-lightfont-weight-bold " (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
          </li>



          <!--Arrow right-->
          <li class="page-item" (click)='nextPage($event)' [ngClass]="{disabled: activePage == numberOfPaginators}">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only font-weight-bold">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
            <a class="page-link font-weight-bold">Last</a>
          </li>

        </ul>
      </nav>
      <!--/Pagination -->

    </div>
    <!--Bottom Table UI-->

    </div>
