<app-app-navigation></app-app-navigation>


<div class='container'>

    <h1 class='text-center mt-5'>Manage Content</h1>



    <ul class='list-group' *ngFor='let project of contents'>
        <li class='list-group-item mt-3 mb-3'>
          <div class='card'>
            <div class='card-header'>{{project.title}}</div>
            <div class='card-body'>
              <div class='row'>
                <div class='col-6'>
                <div>
                  <h5>project Description</h5>
                  <p>{{project.description}}</p>
                </div>
              </div>
              <div class='col-6'>
                <div>
                  <h5>Project Skills</h5>
                  <p>{{project.topic}}</p>
                </div>
              </div>



                <!-- end of row-->
              </div>






                <div>
                    <h5>Link</h5>
                    <p>{{project.link}}</p>
                  </div>


                <div class='mt-2'>
                  <a class='btn btn-success'>Edit</a>
                  <button class='btn btn-danger' (click)='onDelete(project._id)'>Delete</button>
              </div>
          </div>
          </div>
        </li>
    </ul>

    </div>
