<div class='container mt-5 mb-5'>
    <div class='card'>
      <div class='card-header'>Profile</div>
      <div class='card-body'>
          <ul class='list-group'>
              <li class='list-group-item'>{{profile.fname}}</li>
              <li class='list-group-item'>{{profile.lname}}</li>
              <li class='list-group-item'>{{profile.phone}}</li>
              <li class='list-group-item'>{{profile.email}}</li>
              <li class='list-group-item'>{{profile.webSite}}</li>
              <li class='list-group-item'>{{profile.gitHub}}</li>
          </ul>


      </div>
    </div>
</div>
