<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">Wasatch JS</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto" *ngIf='front'>
          <li class="nav-item ">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/" >Home<span class="sr-only" >(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/developers">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/recruiters">Recruiters</a>
        </li>
         <!-- Dropdown -->
         <li class="nav-item dropdown  " dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Tech Careers<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/jobBoard">Job Board</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/careerTypes">Career Types</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/careerPath">Career Path</a>
            </div>
        </li>

          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/login" >Login</a>
        </li>



          <!-- Dropdown -->


      </ul>
      <!-- Links -->

      <!-- Links -->
      <ul class="navbar-nav ml-auto" *ngIf='back'>
          <li class="nav-item  ">
              <a class="nav-link waves-light " mdbWavesEffect routerLink="/dashboard" >Dashboard<span class="sr-only" >(current)</span></a>
          </li>

          <li class="nav-item">
              <a class="nav-link waves-light " mdbWavesEffect routerLink="/addProfile" >Add Profile</a>
          </li>

          <li class="nav-item">
              <a class="nav-link waves-light " mdbWavesEffect routerLink="/developerProfile" >See Profile</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown  " dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Add to Profile<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addEducation"> Education</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addExperience"> Experience</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addSkill"> Skill</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addProject"> Project</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addProblem"> Problem</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addContent"> Content</a>
            </div>
        </li>

        <li class="nav-item dropdown " dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Manage Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageEducation"> Education</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageExperience"> Experience</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageSkills"> Skills</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageProjects"> Projects</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageProblems"> Problems</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageContent"> Content</a>
          </div>
      </li>

        <li class="nav-item ">
          <div class=" waves-light btn btn-default" mdbWavesEffect (click)='logout()'  >Logout</div>
      </li>
    </ul>
      <!-- Links -->

      <!-- Links -->
      <ul class="navbar-nav ml-auto" *ngIf='isAdmin'>

          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/addRecruiterProfile" >Add Profile</a>
          </li>

          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/myRecruiterProfile" >See Profile</a>
          </li>


        <li class="nav-item dropdown  " dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Manage Business<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageCandidates"> Candidates</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageJobs">Jobs</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manageBoosters"> Boosters</a>
          </div>
      </li>

              <!-- Dropdown -->
              <li class="nav-item dropdown  " dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Add Item<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addJob"> Job</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addBooster"> Career Booster</a>

                </div>
            </li>



            <li class="nav-item ">
                <div class=" waves-light btn btn-default" mdbWavesEffect (click)='logout()'  >Logout</div>
            </li>
          <!-- Dropdown -->


      </ul>

<!-- Search form -->

<!-- Search form -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
