<div class="card card-image" style="background-image: url(../../../../../assets/wasatch.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Wasatch JS</strong></h2>
      <p class="mx-5 mb-5">A group of the best Javascript developers along the Wasatch Front.  See our
        profiles, work, created content or join us.
      </p>
      <a mdbBtn  outline="true" class="waves-light elegant-color text-white" mdbWavesEffect>
        <mdb-icon icon="clone" class="left"></mdb-icon>Join
      </a>
    </div>
  </div>
</div>
