

<div class='container'>

    <h1 class='text-center mt-3 mb-3 elegant-color text-white p-3'>My Education</h1>

<ul class='list-group' *ngFor='let education of educations let i = index'>
    <li class='list-group-item mt-1 mb-3 ' *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex">
      <div class='card'>
        <div class='card-header '></div>
        <div class='card-body'>
            <h1 class='text-center font-weight-bold mb-2'>{{education.schoolName}}</h1>
          <div class='row'>
            <div class='col-4'>
            <div>
              <h3 class='font-weight-bold  p-1 text-center '>School Type</h3>
              <p>{{education.schoolType}}</p>
            </div>
          </div>
          <div class='col-4'>
            <div>
              <h3 class='font-weight-bold  p-1 text-center ' >Degree</h3>
              <p>{{education.degree}}</p>
            </div>
          </div>
        <div class='col-4'>
            <div>
              <h3 class='font-weight-bold  p-1 text-center '>Degree Type</h3>
              <p>{{education.degreeType}}</p>
          </div>
        </div>


            <!-- end of row-->
          </div>
          <div class='row'>
            <div class='col-6'>
            <div>
              <h3 class='font-weight-bold  p-1 text-center '>From</h3>
              <p>{{education.from}}</p>
            </div>
          </div>
          <div class='col-6'>
            <div>
              <h3 class='font-weight-bold p-1 text-center '>To</h3>
              <p>{{education.to}}</p>
            </div>
          </div>
          </div>
            <div>
              <h3 class='font-weight-bold  p-1 text-center  '>Additional Notes</h3>
              <p>{{education.notes}}</p>
            </div>
            <div class='mt-2'>
              <a class='btn btn-success' [routerLink]="['/editEducation', education._id]" >Edit</a>
              <button class='btn btn-danger' (click)='onDelete(education._id)'>Delete</button>
          </div>
      </div>
      <div class='card-footer elegant-color text-center text-white'>Education</div>
      </div>
    </li>
</ul>

 <!--Bottom Table UI-->
 <div class="d-flex justify-content-center ">

  <!--Pagination -->
  <nav class="my-4 pt-2">
    <ul class="pagination pagination-circle pg-elegant-color mb-0">

      <!--First-->
      <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
        <a class="page-link font-weight-bold">First</a>
      </li>

      <!--Arrow left-->
      <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only font-weight-bold ">Previous</span>
        </a>
      </li>

      <!--Numbers-->
      <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
          <a class="page-link waves-lightfont-weight-bold " (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
      </li>



      <!--Arrow right-->
      <li class="page-item" (click)='nextPage($event)' [ngClass]="{disabled: activePage == numberOfPaginators}">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only font-weight-bold">Next</span>
        </a>
      </li>

      <!--First-->
      <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
        <a class="page-link font-weight-bold">Last</a>
      </li>

    </ul>
  </nav>
  <!--/Pagination -->

</div>
<!--Bottom Table UI-->

</div>
